@use './vars';
@use './media' as *;

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  font-family: vars.$font-primary;
  font-size: 14px;
  color: #42567a;
}

h1,
h2 {
  margin: 0;
  font-family: vars.$font-secondary;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(66, 86, 122, 0.5);
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 0.7s ease;
  padding: 0;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  @media (max-width: $lg) {
    width: 25px;
    height: 25px;

    svg {
      width: 6px;
      height: 8px;
    }
  }
}
